.l-header {
	height:50px;
	width:100%;
	} 
	.b-header {
		width:100%;
		position:fixed;
		z-index:4;
		box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.3);
		background-color:#FFFFFF;
	}
		.b-header__back {
			float:left;
			display:block;
			height:50px;
			width:11%;
			background:url('../images/button-header-back.svg') center no-repeat;
			background-size: 8px 14px;
		}
		.b-header__logo {
			float:left;
			display:block;
			height:50px;
			width:15%;
			text-align:center;
			background:url('../images/icon-header-logo.svg') center no-repeat;
			background-size: 34px 38px;
			margin-left: 30%;
		}
		.b-header__search {
			float:left;
			display:block;
			height:50px;
			width:11%;
			margin-right: 0;
			background:url('../images/button-header-search.svg') center no-repeat;
			background-size: 21px 21px;
			margin-left: 22%;
		}
		.b-header__menu {
			display:block;
			height:50px;
			width:100%;
		}
			.b-header__menu-button {
				float:right;
				display:block;
				height:50px;
				width:11%;
				background:url('../images/button-header-menu.svg') center no-repeat;
				background-size: 4px 21px;
			}
			.b-header__menu-dropdown-wrap {
				display:none;
				padding:0px;
				position:absolute;
				right: 4%;
				top: 64px;
				width:205px;
				height:165px;
				background-color: #FFFFFF;
				border-radius: 10px;
				box-shadow: 3px 6px 6px 0px rgba(50, 50, 50, 0.5);
			}
				.b-header__menu-dropdown {
					list-style-type: none;
					padding: 12px 17px;
				}
					.b-header__menu-dropdown-item {
						line-height: 35px;
						border-top: 1px dotted black;
					}
						.b-header__menu-dropdown-item a {
							text-decoration:none;
							color: #495461;
							font-size: 13px;
							font-family: 'Notosans';
						}
						.m-header__menu-dropdown-item_first {
							border:none;
						}
						.m-header__menu-dropdown-item_first a{
							color:#4A9974;
						}
						.m-header__menu-dropdown-item_last {
							background: url('../images/icon-content-top-enter.svg') left no-repeat;
							background-size: 11px 10px;
							padding-left: 15px;
						}
			.b-header__menu:hover .b-header__menu-dropdown-wrap {
				display:block;
			}

.l-content{
	width:100%;
}
	.b-content__top {
		width:100%;
		height:218px;
	}
		.b-content__top-img {
			position:absolute;
			width:100%;
		}
			.b-content__top-img  img{
				object-fit: cover;
				height: 218px;
				width: 100%;
			}
			
		.b-content__top-button {
			position:absolute;
			height: 28px;
			width:28px;
			margin-top: 92px;
			right: 3%;
			background: url('../images/button-content-top.png') center no-repeat #000000;
			background-size: 14px 14px ;
			border-radius: 5px;
			opacity:0.5;
		}
		.b-content__top-pager {
				width:110px;
				position:relative;
				margin: 0px auto;
				padding-top:180px;
			}
				.b-content__top-pager-item {
					display:block;
					float:left;
					height:7px;
					width:7px;
					background:#FFFFFF;
					border-radius:50px;
					background-size: 7px 7px;
					margin-right:8px;
				}
					.m-content__top-pager-item_active {
						background:#FF9B19;
					}
		
		
	.b-content__object {
		margin-top:20px;
	}	
		.b-content__top-star {
			float:right;
			position:relative;
			height:40.5px;
			width:40.5px;
			background:url('../images/button-content-top-star.png') center no-repeat;
			background-size: 21px 20px;
			background-color:#FFFFFF;
			border-radius: 20px;
			box-shadow:1px 2px 2px 0px rgba(50, 50, 50, 0.3);
			margin-right:4%;
			margin-top:-40px;
		}
		
		.b-content__object-title {
			color: #0080C5;
			font-size: 18px;
			font-family: 'Notosans';
			padding: 0 0 20px 5%;
		}
		.b-content__object-price {
			height: 65px;
			background-color: #EFF3F5;
			border-radius:6px;
			margin: 0 5%;
		}
			.b-content__object-price-left {
				float:left;
				display:block;
				list-style-type: none;
				margin-top: 10px;
				margin-left: 5%;
				width:55%;
				height:45px;
				border-right: 1px dotted black;
				padding:0;
			}
				.b-content__object-price-left-top {
					color: #FF8701;
					font-size: 20px;
					font-family: 'Notosans_bold';
				}
				.b-content__object-price-left-bottom {
					color: #6C8090;
					font-size: 14px;
					font-family: 'Notosans';
				}
			.b-content__object-price-right {
				float:left;
				display:block;
				list-style-type: none;
				margin-top:17px;
				margin-left: 6%;
				padding:0;				
			}
				.b-content__object-price-right-top {
					color: #6C808F;
					font-size: 11px;
					font-family: 'Notosans';
				}
				.b-content__object-price-right-bottom {
					color: #6C808F;
					font-size: 11px;
					font-family: 'Notosans_bold';
				}
		.b-content__object-adress {
			margin: 20px 5%;
			color: #425361;
			font-size: 13px;
			font-family: 'Notosans';
		}
			.m-content__object-adress_color {
				color: #8596A4;
			}
		.b-content__object-map {
			width: 100%;
			height: 112px;
			background:url('../images/bg-content-object-map.png') no-repeat;
			background-size: cover;
		}
			.b-content__object-map-pointer {
				display:block;
				height: 112px;
				width:16%;
				margin-left:42%;
				background:url('../images/button-content-object-map-pionter.png') center no-repeat;
				background-size: 51px 60px;
				position:absolute;
			}
			.b-content__object-map-scroll {
				display:block;
				float:right;
				height: 28px;
				width:28px;
				margin-top:41px;
				margin-right: 5%;
				background:url('../images/button-content-object-map-scroll.png') center no-repeat;
				background-size: 8px 20px; 
				background-color: black ;
				border-radius: 5px;
				opacity:0.5;
			}
		.b-content__object-info {
			margin: 20px 5% 0 5%;
			
		}
			.b-content__object-info-list {
				list-style-type:none;
				padding:0px;
			}
				.b-content__object-info-item {
					height:35px;
					line-height:35px;
					color: #425361;
					font-size: 13px;
					font-family: 'Notosans';
					border-bottom: 1px dotted black;
					padding-left: 40px;
				}
					.m-content__object-info-item-type {
						background:url('../images/icon-content-object-info-type.svg') no-repeat;
						background-size: 28px 28px; 
					}
					.m-content__object-info-item-area {
						background:url('../images/icon-content-object-info-area.svg') no-repeat;
						background-size: 28px 28px; 
					}
					.m-content__object-info-item-room {
						background:url('../images/icon-content-object-info-room.svg') no-repeat;
						background-size: 28px 28px; 
					}
					.m-content__object-info-item-bathroom {
						background:url('../images/icon-content-object-info-bathroom.svg') no-repeat;
						background-size: 28px 28px; 
					}
					.m-content__object-info-item-level {
						background:url('../images/icon-content-object-info-level.svg') no-repeat;
						background-size: 28px 28px;
						border:none;
					}
						.m-content__object-info-item-result {
							float:right;
						}				
		.b-content__object-discr {
			margin: 10px 5% 0 5%;
		}
			.b-content__object-discr-title {
				color: #0080C5;
				font-size: 18px;
				font-family: 'Notosans';
				padding-bottom:7px;
			}
			.b-content__object-discr-text {
				display:block;
				height:220px;
				overflow:hidden;
				margin-bottom:45px;
			}
				.b-content__object-discr-text-hide {
					display:block;
					position:absolute;
					height:115px;
					margin-top: 155px;
					background: linear-gradient(to top, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 85%);
					z-index:1;
					width:90%;
				}

				.b-content__object-discr-text-inner{
					color: #425361;
					font-size: 13px;
					font-family: 'Notosans';
					margin-bottom: 0.3em;
					height:240px;
					z-index:1;
				}
			.b-content__object-discr-text-button-wrap {
				padding-left:40%;
				margin-top: -75px;
				position:relative;
				z-index:2;
			}
				.b-content__object-discr-text-button {
					display:block;
					height: 40px;
					width:40px;
					border-radius: 20px;
					background:url('../images/button-content-object-info-discr.png') center no-repeat, #FFFFFF;
					background-size: 18px 18px;
					box-shadow:0px 2px 2px 0px rgba(50, 50, 50, 0.3);					
				}
			.b-content__object-discr-list-wrap{
				float:left;
				display:block;
				margin-top: 40px;
				margin-bottom:40px;
			}
				.b-content__object-discr-list {
					padding:0px;
				}
					.b-content__object-discr-list-item {
						list-style-type:none;
						color: #425361;
						font-size: 13px;
						font-family: 'Notosans';
						background:url('../images/icon-content-object-info-discr.svg') left no-repeat;
						background-size: 12px 12px;
						padding-left: 25px;
					}
			.b-content__object-discr-region {
				float:left;
				display:block;
				margin-bottom:30px;
			}
				.b-content__object-discr-region-text {
					color: #425361;
					font-size: 13px;
					font-family: 'Notosans';
				}
		.b-content__object-liked{
			float:left;
			display:block;
			margin: 0 5% 0 5%;
			margin-bottom: 35px;
			width:90%;
		}		
			.b-content__object-liked-top {
				height:178px;
				border-top: 1px dotted #6C8090;
				border-bottom: 1px dotted #6C8090;
			}
				.b-content__object-liked-icon-top {
					height:40px;
					width:100%;
					background:url('../images/icon-content-object-liked-top.svg') center no-repeat;
					background-size: 21px 20px;
				}
				.b-content__object-liked-title {
					text-align:center;
					color: #0080C5;
					font-size: 18px;
					font-family: 'Notosans_bold';
					margin-bottom: 5px;
				}
				.b-content__object-liked-text {
					text-align:center;
					color: #425361;
					font-size: 13px;
					font-family: 'Notosans';
					margin-bottom: 15px;
				}
				.b-content__object-liked-button {
					display:block;
					height:40px;
					width:100%;
					text-align:center;
					color: #FFFFFF;
					font-size: 13px;
					font-family: 'Notosans_bold';
					line-height:40px;
					background-color: #6C8090;
					border-radius:6px;
				}
					.b-content__object-liked-button:hover {
						text-decoration:none;
						color:#FFF200;
					}
					
			.b-content__object-liked-bottom {
				height:210px;
			}		
				.b-content__object-liked-icon-bottom {
					height:40px;
					width:100%;
					background:url('../images/icon-content-object-liked-bottom.svg') center no-repeat;
					background-size: 28px 21px;
				}
				.b-content__object-liked-e-mail input{
					display:block;
					height:38px;
					width:100%;
					text-align:center;
					color: #7B8791;
					font-size: 13px;
					font-family: 'Notosans';
					line-height:38px;
					background-color: #FFFFFF;
					border: 1px solid #7B8791;
					border-radius:6px;
					margin-bottom:5px;
					outline:none;
				}
					.b-content__object-liked-e-mail input:focus{
						border: 1px solid #0080C5;
						box-shadow: 0 0 10px rgba(101,90,219,0.5);
					}
	.b-content__news {
		float:left;
		display:block;
		margin: 0 5% 5px 5%;
		width:90%;
	}
		.b-content__news-title {
			color: #2291CD;
			font-size: 18px;
			font-family: 'Notosans';
			margin-bottom:15px;
		}
		.b-content__news-list {
			float:left;
			display:block;
			height: 115px;
			padding-top:10px;
			width:100%;
			border-bottom: 1px dotted #8596A4;
		}
			.b-content__news-list:last-child {
				border:none;
			}
				.b-content__news-list-photo  img{
					float:left;
					object-fit: cover;
					height: 95px;
					width: 36%;
				}
			.b-content__news-list-info {
				float:left;
				display:block;
				height: 95px;
				width: 60%;
				list-style-type: none;
				margin-left: 10px;
				padding:0px;
			}
				.b-content__news-list-info-title {
					color: #227EB1;
					font-size: 13px;
					font-family: 'Notosans';
					line-height:13px;
					height: 27px;
					overflow: hidden;
				}
				.b-content__news-list-info-text {
					color: #6C808F;
					font-size: 11px;
					font-family: 'Notosans';
					overflow: hidden;
				}
				.b-content__news-list-info-price {
					color: #FF8701;
					font-size: 16px;
					font-family: 'Notosans';
				}
				.b-content__news-list-info-area {
					color: #6C808F;
					font-size: 11px;
					font-family: 'Notosans';
				}
.l-footer {
	width:100%;
	clear:both;
	background-color: #425361;
}
	.b-footer {
		clear:both;
		padding-top:20px;
	}
		.b-footer__content {
			margin: 0 5% 0 5%;
			padding: 10px 0px 10px 0px;
			height:75px;
		}
			.b-footer__content:last-child {
				border-top: 3px double #3F4F5C;
				padding-top:7px;
			}
			.b-footer__content-title {
				color: #D7DFE5;
				font-size: 16px;
				font-family: 'Notosans_bold';
			}
				.b-footer__content-list {
					list-style-type: none;
					display:block;
					float:left;
					width:100%;
					padding:0px;
				}
					.b-footer__content-inner-text-list-item {
						color: #C1CFDB;
						font-size: 11px;
						font-family: 'Notosans';
						line-height:18px;
						float:left;
						width:50%;
					}
					.b-footer__content-inner-text-list-item:hover {
						color: #C1CFDB;
					}
					
			.b-footer__content-listfull {
				margin: 10px 5% 0 5%;
				border-bottom: 1px solid #3F4F5C;
				padding-bottom: 25px;
				color:#C1CFDB;
				}
				.b-footer__content-listfull a {
					font-family: 'Notosans';
					font-size:11px;
					line-height:18px;
					color:#C1CFDB;
				}
			.b-footer__content-info {
				margin: 6px 5% 12px 5%;
				background:url('../images/icon-footer-info.svg') no-repeat;
				background-size: 29px 25px;
				font-family:'Notosans';
				font-size:10px;
				line-height:11px;
				padding-left: 45px;
				height:25px;
			}
				.b-footer__content-info a {
					color:#C1CFDB;
				}
				.m-footer__content-info_color {
					color: #6E7F8D;
				}
			.b-footer__content-connect {
				display:block;
				width:100%;
				height:46px;
				text-align:center;
				color:#FFFFFF;
				font-size: 15px;
				font-family: 'Notosans_bold';
				line-height:46px;
				background-color: #11C49A;
			}
				.b-footer__content-connect:hover {
					text-decoration:none;
					color:#FFF200;
				}